div {
    box-sizing: border-box;
}


.phone-background {
    background-image: linear-gradient(#e66465, #9198e5);
}

.phone-container {
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.phone-container div {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 10px;
}

.phone-container img {
    padding-top: 50px;
    width: 25%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .phone-container div {
        float: unset;
        width: 100%;
        text-align: center;
    }

    .phone-container img {
        padding-top: 20px;
        width: 50%;
        display: block;
        margin: auto;
    }
}

.description-container {
    text-align: center;
}

.offer-icons {
    text-align: center;
    display:flex;
}

.offer-icons div {
    margin: auto;
}

.offer-icons i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    padding-top: 25px;
    border-radius: 50px;
    box-sizing: border-box;
}

.offer-heading {
    text-align: center;
}

.offer-background {
    background-color: lightblue;
}
.portfolio-container {
    width: 100%;
    height: 500px;
    text-align: center;
}

.portfolio-images {
    width: 80%;
    margin: auto;
    text-align: center;
}

.portfolio-image {
    box-sizing: border-box;
    width: 50%;
    float: left;
    position: relative;
}

.portfolio-image div {
    position: absolute;
    height: 100%;
    width: 100%;
    border-width: 0px;
    border-style: solid;
    border-color: white;
    transition: border-width 1s;
}

.portfolio-image div:hover {
    border-width: 50px;
}

.portfolio-image img {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .portfolio-images {
        width: 90%;
    }

    .portfolio-image img {
        width: 100%;
        float: left;
    }
}

.contactus-container {
    padding: 25px;
    text-align: center;
    clear: both;
}

.contactus-container i {
    font-size: 30px;
    background-color: blue;
    color: white;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    margin: 15px;
}