
input::-webkit-input-placeholder {
  color: red;
}

progress {
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: wheat;
  height: 50%;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: blue;
  border-radius: 5px;
  height: 150%;
}